@use "../utils/mixins" as *;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar {
    cursor: pointer !important;
    &::-webkit-scrollbar {
      height: 6px;
      width: 6px;
      padding-block: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--body-color);
      border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--blue-color);
      border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--blue-color-darken);
      border-radius: 999px;
    }
  }
}

.header-item {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 10px;
  padding: 16px;
  background-color: var(--bg-color-secondary);
  font-size: 12px;
  border-radius: 999px;
}

.tabs {
  color: var(--secondary-color);
  margin-bottom: 38px;
  @apply flex gap-[22px] mt-20;

  &__btn {
    position: relative;
    font-size: 14px;
    transition:
      text-shadow 0.3s,
      color 0.12s;
    @apply ease-smooth;

    &::after {
      position: absolute;
      content: "";
      display: flex;
      justify-content: center;
      width: 100%;
      height: 2px;
      bottom: -4px;
      background: var(--primary-color);
      clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
      transition: clip-path 0.25s;
      @apply ease-smooth;
    }
    &.active,
    &:hover {
      color: var(--primary-color);
    }

    &:hover::after,
    &.active::after {
      clip-path: polygon(5% 0, 95% 0, 95% 100%, 5% 100%);
    }
  }

  &--pills {
    color: var(--primary-color);
    gap: 12px;

    &__btn {
      padding: 16px 32px;
      font-size: 10px;
      border-radius: 999px;
      background-color: var(--secondary-color);
      color: var(--bg-color);
      transition:
        color 0.12s,
        background-color 0.12s;
      @apply ease-smooth;

      &.active,
      &:hover {
        background-color: var(--bg-color-secondary);
        color: var(--primary-color);
      }
    }
  }
}

.btn-hover {
  position: relative;
  transition: color 0.15s;
  z-index: 1;
  @apply ease-smooth;

  svg {
    transition: filter 0.15s;
    will-change: filter;
    @apply ease-smooth;
  }
  &:hover,
  &.active {
    color: var(--blue-color);
    svg {
      filter: invert(1) var(--blue-filter);
    }
  }

  &--wide {
    &::after {
      position: absolute;
      content: "";
      z-index: -1;
      top: 0;
      height: 100%;

      width: calc(100% + 24px);
      margin-left: -12px;
      border-radius: 1rem;

      background-color: var(--bg-color-secondary);
      opacity: 0;
      transition: opacity 0.2s;
      @apply ease-smooth;

      @container (max-width: 500px) {
        width: 100%;
        margin-left: 0;
      }

      &:hover,
      &.active {
        opacity: 1;
      }
    }
    &:hover,
    &.active {
      color: var(--primary-color);
      svg {
        filter: invert(1);
      }
    }
  }
}

[data-theme="light"] {
  .btn-hover {
    &:hover,
    &.active {
      color: var(--red-color);
      svg {
        filter: var(--red-filter);
      }
    }
  }
}

[data-theme="light"] .btn-hover--wide:hover svg,
[data-theme="light"] .btn-hover--wide.active svg {
  filter: none;
}

.btn-primary {
  background-color: var(--bg-color-secondary);
  @apply flex justify-center items-center w-50 h-50 rounded-2xl;
}

.btn-secondary {
  border-radius: 999px;
  @apply header-item btn-hover;
}

.btn-txt {
  display: flex;
  gap: 8px;
  align-items: center;
  @apply btn-hover;

  figure {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    aspect-ratio: 1/1;
    background-color: var(--bg-color-secondary);
    @apply w-50 h-50 rounded-2xl;
  }
}

.btn-notif {
  background-color: var(--body-color);
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 10px;
  font-weight: 700;
  @apply btn-hover;
}

.btn-action {
  position: relative;
  padding-block: 12px;
  border-radius: 999px;
  z-index: 1;
  overflow: hidden;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: var(--red-color);
    z-index: -2;
  }
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: var(--red-color-darken);
    z-index: -1;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path 0.3s;
    @apply ease-smooth;
  }

  &:hover {
    &::after {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

.btn-form {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 999px;
  padding: 16px 24px;
  text-align: center;

  &--primary {
    background-color: var(--primary-color);
    color: var(--bg-color);
    transition:
      background-color 0.2s ease,
      color 0.2s ease;
    &:hover,
    &:active {
      background-color: var(--secondary-color);
    }
  }
  &--secondary {
    background-color: var(--body-color);
    color: var(--primary-color);
    transition:
      background-color 0.2s ease,
      color 0.2s ease;
    &:hover,
    &:active {
      background-color: var(--bg-color-secondary);
    }
  }
}

.btn-profile {
  position: relative;
  display: flex;
  justify-content: center;
  width: 130px;
  border-radius: 999px;
  padding: 16px 24px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 999px;
    opacity: 25%;
    transition: opacity 0.2s;
    @apply ease-smooth;
  }
  &:hover::before {
    opacity: 35%;
  }
}

.event-switch {
  position: relative;
  user-select: none;
  font-size: 14px;

  &__bg {
    display: flex;
    gap: 20px;
    width: 390px;
    padding: 24px 12px;
    background-color: var(--bg-color-secondary);
    border-radius: 999px;
    @container (max-width:500px) {
      width: 300px;
    }

    & > * {
      display: flex;
      justify-content: center;
      width: 130px;
      text-align: center;
      cursor: pointer;
      @include line-clamp(1);
    }
  }

  &__switch {
    position: absolute;
    content: "";
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100%;
    padding: 5px;
    text-align: center;
    border-radius: 999px;
    cursor: grab;
    touch-action: none;
    transition: transform 0.3s ease;

    @container (max-width:500px) {
      width: 100px;
    }

    &:active {
      cursor: grabbing;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 999px;
      background-color: var(--primary-color);
      color: var(--bg-color);
      padding: 20px 16px;
      @include line-clamp(1);
    }
  }
}

.btn-interest-filled {
  svg {
    fill: #000000;
    filter: var(--orange-filter) !important;
    &:hover {
      fill: transparent;
    }
  }
}

.btn-like-filled {
  svg {
    fill: #000000;
    filter: var(--red-filter) !important;
    transition: fill 0.15s ease;
    &:hover {
      fill: transparent;
    }
  }
}
