.page-studio.menu-open {
  .logo,
  .header-right {
    opacity: 0;
  }
}

.page-studio {
  position: relative;
  background-color: var(--body-color);
  min-height: 100vh;
  margin-inline: auto;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  header,
  section,
  footer {
    position: relative;
    width: 100%;
    max-width: 2560px;
    margin-inline: auto;
    z-index: 1;
    @apply px-20 sm:px-60;
  }

  .page-privacy {
    padding-top: 100px;
  }

  header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    min-height: 75px;
    background-color: transparent;
    transition: transform 0.5s ease-in-out;
    z-index: 50;
    @apply py-20 backdrop-blur-sm;

    &.header-hidden {
      transform: translateY(-100%);
    }

    .header-left,
    .header-right {
      display: flex;
      @apply lg:w-[180px];
    }
    .header-right {
      .btn-studio {
        margin-left: auto;
      }
    }

    nav {
      position: fixed;
      display: flex;
      flex-direction: column;
      right: 0;
      top: 0;
      gap: 15px;
      z-index: 5;
      font-size: 48px;
      text-align: right;
      opacity: 0;
      transform: translateX(100vw);
      transition:
        transform 0.15s ease,
        opacity 0.3s ease;

      @apply px-20 sm:px-60;

      &.menu-open {
        opacity: 1;
        transform: translateX(0);
      }

      .btn-close {
        scale: 1.5;
        transition: scale 0.2s ease;
        &:hover {
          scale: 1.7;
        }
      }

      @screen lg {
        position: relative;
        flex-direction: row;
        height: fit-content;
        width: fit-content;
        gap: 45px;
        background-color: transparent;
        font-size: 16px;
        z-index: 1;
        opacity: 1;
        transform: translateX(0);
        @apply px-0;
      }
    }
  }

  .btn-header {
    position: relative;
    outline: none;
    width: fit-content;
    margin-left: auto;
    &:not(.btn-close)::after {
      position: absolute;
      content: "";
      top: 0px;
      left: -8px;
      width: calc(100% + 16px);
      height: calc(100%);
      border: 2px solid var(--primary-color);
      clip-path: polygon(0% 0%, 0% 100%, 8% 100%, 8% 0, 92% 0, 92% 100%, 100% 100%, 100% 0%);
      z-index: -1;
      scale: 0;
      opacity: 0;
      transition:
        opacity 0.3s ease,
        scale 0.3s ease;
    }
    &:hover::after,
    &:focus::after {
      scale: 1;
      opacity: 1;
      outline: none;
    }
  }

  .btn-studio {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 12px 24px;
    border-radius: 999px;
    font-size: 12px;
    line-height: 2;
    outline: none;

    svg {
      transition: transform 0.4s ease;
    }
    &:hover {
      svg {
        transform: translateX(10px);
      }
    }
    &:focus {
      outline: 2px solid var(--blue-color);
      svg {
        transform: translateX(10px);
      }
    }
  }

  .main-studio {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // padding-top: 88px; //header-height
    animation: fadeIn 0.5s ease;

    p {
      line-height: 1.3;
      @apply text-18 sm:text-20 lg:text-[24px];
    }

    h2 {
      font-size: 48px;
      font-weight: 400;
      letter-spacing: -4px;
      line-height: 1;
      @screen sm {
        font-size: 72px;
        letter-spacing: -6px;
      }
      @screen lg {
        font-size: 117px;
        letter-spacing: -10px;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 48px;
      line-height: 1.1;
      margin-bottom: 40px;
      letter-spacing: -4px;
    }

    .s-title {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-inline: auto;
      width: 100%;
      max-width: 1440px;
      padding-top: 200px;
      padding-bottom: 250px;
      height: calc(100vh);
      max-height: 1300px;
      text-align: center;

      h1 {
        font-size: 32px;
        font-weight: 600;
        letter-spacing: -3px;
        @screen lg {
          font-size: 45px;
          letter-spacing: -4px;
        }
      }

      p {
        position: absolute;
        left: calc(50% - 10px);
        bottom: calc(50% - 18px);
        font-size: 14px;
        @apply font-fira;
        @screen lg {
          left: calc(50% + 30px);
          font-size: 20px;
          bottom: calc(50% - 28px);
        }
      }
      .decor-blur {
        top: calc(50% - 170px);
        scale: 0.6;
        @screen lg {
          // top: calc(50% - 100px);
          scale: 0.9;
        }
      }
    }

    .s-designit {
      .title {
        max-width: 500px;
      }
      .text {
        margin-top: 60px;
        margin-bottom: 100px;
        max-width: 1200px;
        @screen lg {
          margin-block: 110px;
        }
      }
    }

    .s-philosophy {
      display: flex;
      flex-direction: column;
      gap: 100px;
      margin-bottom: 120px;
      @screen xl {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(2, minmax(160px, auto));
        column-gap: 40px;
      }

      &__title {
        position: relative;
        grid-column: 1;
        grid-row: 1 / span 2;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        @apply px-20 sm:px-60 py-40 sm:py-60;
        @screen xl {
          padding: 40px 40px 0 60px;
        }

        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          inset: 0;
          background: linear-gradient(#fbeee9 0%, #fae5dc 50%, #ffffff 100%);
          z-index: -2;
        }
      }

      &__text {
        grid-column: 2;
        grid-row: 2;
        @apply px-20 sm:px-60 xl:text-justify;
        @screen xl {
          max-width: 750px;
          padding: 0;
        }
      }

      h3 {
        max-width: 200px;
        font-size: 36px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -3px;
        margin: 0;
        @screen sm {
          max-width: 250px;
          font-size: 45px;
          letter-spacing: -4px;
        }
        @screen md {
          max-width: 350px;
          font-size: 60px;
          letter-spacing: -5px;
        }
      }
    }

    .s-capacity {
      margin-bottom: 150px;
      @screen xl {
        display: flex;
        gap: 15%;
        justify-content: flex-end;
      }

      figure {
        margin-left: auto;
        margin-top: 100px;
      }

      &__content {
        @screen xl {
          display: flex;
          flex-direction: column;
          gap: 20px;
          max-width: 480px;
        }
      }

      &__title {
        position: relative;
        display: flex;
        color: var(--bg-color);
        overflow: hidden;
        @apply px-20 sm:px-60 py-40 sm:py-60;
        @screen xl {
          padding: 40px 0 230px 0;
        }

        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          inset: 0;
          // background: linear-gradient(#fae5dc 0%, #ffb18f 90%);
          background-color: white;
          z-index: -2;
        }
      }

      h3 {
        max-width: 200px;
        font-size: 36px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -3px;
        margin: 0;
        @screen sm {
          max-width: 250px;
          font-size: 45px;
          letter-spacing: -4px;
        }
        @screen md {
          max-width: 350px;
          font-size: 60px;
          letter-spacing: -5px;
        }
        @screen xl {
          margin-left: auto;
          margin-right: 60px;
        }
      }
      p {
        margin-block: 100px;
        @apply px-20 sm:px-60 xl:px-0;
        @screen xl {
          text-align: justify;
          margin-right: 60px;
          margin-block: 0;
        }
      }
      figure {
        @apply px-20 sm:px-60 xl:px-0;
      }
    }

    .s-technologies {
      padding-top: 40px;
      h3 {
        font-weight: 600;
        font-size: 48px;
        line-height: 1.1;
        margin-bottom: 40px;
      }
    }

    .s-how {
      &__grid {
        grid-template-columns: auto 170px auto 170px auto 170px auto min-content;
        grid-template-rows: max-content;
        gap: 10px;
        margin-bottom: 110px;
        @apply lg:grid flex flex-col;

        h3 {
          @apply text-[48px];
        }

        .decor-h {
          margin-block: auto;
          width: 100%;
          height: 1px;
          background-color: var(--primary-color);
          padding-inline: 10px;
          @apply hidden lg:block;
        }
        .title {
          max-width: 350px;
          @apply my-15 lg:my-auto;
        }
        .text {
          margin-left: 20px;
          font-size: 15px;
          border-left: 1px solid white;
          padding: 20px 20px 20px 15px;
          @apply max-w-[500px] lg:max-w-[170px] lg:p-0 lg:border-none lg:ml-0;
          svg {
            transform: translateY(-15px);
            @apply hidden lg:block;
          }
        }
        .text-4 {
          padding-top: 10px;
          order: 2;
          svg {
            transform: translateY(-15px);
          }
        }
        .text-gradient {
          font-weight: 700;
          background: var(--weshre-gradient-left-right);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .title-1 {
          order: 1;
          @apply lg:order-none;
        }
        .text-1 {
          order: 2;
          @apply lg:order-none;
        }
        .title-2 {
          order: 3;
          @apply lg:order-none;
        }
        .text-2 {
          order: 4;
          @apply lg:order-none;
        }
        .title-3 {
          order: 5;
          @apply lg:order-none;
        }
        .text-3 {
          order: 6;
          @apply lg:order-none;
        }
        .title-4 {
          order: 7;
          @apply lg:order-none;
        }
        .text-4 {
          padding-top: 15px;
          order: 8;
          @apply lg:order-none;
        }
      }
    }

    .s-team {
      .slider {
        display: grid;
        grid-template-columns: 40% 25% 16% 16%;
        gap: 10px;
        transition: all 0.3s ease;
        animation: fadeIn 0.3s ease;

        .slide {
          position: relative;
          width: 100%;
          height: auto;
          aspect-ratio: 625/693;
          background-color: var(--secondary-color);
          transition: all 0.3s ease;
          animation: fadeIn 0.3s ease;

          img {
            width: 100%;
            height: 100%;
            aspect-ratio: 625/693;
            object-fit: cover;
            transition: all 0.3s ease;
            animation: fadeIn 0.3s ease;
          }
        }

        .slide-0 {
          position: relative;
        }

        .description {
          opacity: 0;
          transform: translateY(100%);
          position: absolute;
          right: calc(-50% - 10px);
          bottom: 0;
          width: 50%;
          transition:
            opacity 0.2s ease,
            transform 0.4s ease;
          h4 {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.3;
            margin-bottom: 10px;
          }
          p {
            font-size: 20px;
          }
        }
        .slide-0 .description {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .s-contact {
      h3 {
        font-weight: 400;
        margin-bottom: 15px;
        letter-spacing: -2.8px;
        @apply text-[32px] sm:text-50 sm:tracking-[-4.16px] lg:text-[75px] lg:tracking-[-6.25px];
      }

      .separator {
        display: flex;
        width: 100%;
        background-color: var(--primary-color);
        height: 2px;
        @apply mb-40 sm:mb-60 lg:mb-120;
      }

      &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        @media (max-width: 1024px) {
          grid-template-columns: 1fr;
        }
      }
      &__text {
        p {
          @apply text-16 lg:text-[26px];
        }
        a {
          transition: color 0.2s ease;
          @apply flex items-center gap-20 mt-40 mb-30 underline text-16 lg:text-[24px];

          svg {
            animation: bounceLeftToRight 2.5s infinite;
            @apply w-[18px] sm:w-[50px] lg:w-70;
          }

          &:hover {
            color: var(--blue-color);
          }
        }

        li {
          @apply text-16 lg:text-[24px];
        }
      }

      &__form {
        position: relative;

        h4 {
          line-height: 1;
          letter-spacing: -2px;
          @apply text-[26px] sm:text-35 sm:tracking-[-3px] lg:text-40 lg:tracking-[-4px] mb-40 sm:mb-60;
        }

        .form-row {
          display: flex;
          width: 100%;
          gap: 35px;
          @apply mb-80 sm:mb-120 lg:mb-150;
        }

        input,
        textarea {
          font-weight: 500;
          width: 100%;
          padding-bottom: 15px;
          background-color: transparent;
          color: var(--primary-color);
          border-bottom: 1px solid var(--primary-color);
          outline: none;
          &:focus {
            outline: none;
          }
          @apply text-12 sm:text-16 lg:text-[24px];
        }

        #policy {
          appearance: none;
          -webkit-appearance: none;
          position: relative;
          width: 30px;
          height: 30px;
          background-color: transparent;
          border: 2px solid var(--primary-color);
          cursor: pointer;
          @apply w-20 h-20 sm:w-30 sm:h-30 rounded-[5px] sm:rounded-[8px];
          &::after {
            position: absolute;
            content: "";
            background-color: var(--blue-color);
            opacity: 0;
            scale: 0;
            transition:
              opacity 0.2s ease,
              scale 0.2s ease;
            @apply sm:w-[calc(100%-12px)] sm:h-[calc(100%-12px)] w-[calc(100%-8px)] h-[calc(100%-8px)] top-4 sm:top-6 left-4 sm:left-6 rounded-[2px] sm:rounded-[5px];
          }

          &:checked::after {
            opacity: 1;
            scale: 1;
          }
        }

        textarea {
          display: flex;
          overflow: hidden;
          resize: none;
          @apply mb-40 sm:mb-60 lg:mb-80;
        }

        .link {
          text-decoration: underline;
          transition: color 0.2s ease;
          &:hover {
            color: var(--blue-color);
          }
        }
      }
    }

    .s-grow {
      .title {
        max-width: 1200px;
        padding-top: 90px;
        @apply mt-80 sm:mt-100 lg:mt-150;
        h2 {
          line-height: 1.3;
          @apply text-[36px] tracking-[-3px] sm:text-60 sm:tracking-[-5px]  lg:text-[85px] lg:tracking-[-7px] xl:text-[117px];
        }
        .grow {
          line-height: 0.7;
          margin-bottom: 120px;
          @apply flex items-end gap-15 sm:gap-25 lg:gap-40 lg:mb-80;
          svg {
            @apply w-20 h-20 sm:w-35 sm:h-35 lg:w-50 lg:h-50 xl:w-60 xl:h-60;
          }
        }
      }
      p {
        max-width: 1260px;
      }
    }

    .s-whatwedo {
      &__title {
        @apply my-100 lg:mt-120 lg:mb-180 px-20 sm:px-60 text-[36px] tracking-[-3px] sm:text-[48px] sm:tracking-[-4px];
      }
      &__content {
        display: flex;
        gap: 60px;
        margin-block: 60px;
        @apply flex-col lg:flex-row lg:px-60 lg:mb-150 lg:mt-0 lg:gap-80;

        .title-rotate {
          display: flex;
          align-items: center;
          width: 100%;
          padding-block: 50px;
          background-color: #8eff84;
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          opacity: 0;
          transition:
            clip-path 0.5s ease,
            opacity 0.5s ease;
          &.animate {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            opacity: 1;
          }
          @apply pl-20 sm:pl-60 lg:mb-80;
          @screen lg {
            width: 243px;
            height: 479px;
            padding-block: 0;
            margin-bottom: 0;
            justify-content: center;
            padding-left: 70px;
          }
        }

        h4 {
          font-size: 36px;
          letter-spacing: -3px;
          color: black;
          white-space: nowrap;
          @screen lg {
            transform: rotate(-90deg) translateY(-45px);
            font-size: 64px;
            letter-spacing: -5px;
          }
        }

        .text {
          @apply px-20 sm:px-60 lg:px-0 lg:my-auto;
        }
        p {
          font-size: 20px;
          @apply lg:text-[24px] lg:text-justify lg:max-w-[1030px] lg:mx-auto;
        }

        &--invert {
          justify-content: flex-end;
          @apply lg:my-[200px];
          .title-rotate {
            background-color: #74c8ff;
          }
          .title-rotate {
            order: 1;
            @apply lg:order-none;
          }
          .text {
            order: 2;
            @apply lg:order-none;
          }
        }
      }
    }

    .s-webdev {
      &__grid {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        @apply xl:grid;

        .title {
          position: relative;
          overflow: hidden;
          z-index: 2;
          border: 2px solid var(--primary-color);

          &::before,
          &::after {
            content: "";
            position: absolute;
            top: -100%;
            right: -100%;
            width: 150px;
            height: 300%;
            background: linear-gradient(90deg, transparent 0%, #383838 15%, #ffffff 50%, #383838 85%, transparent 100%);
            filter: blur(20px);
            transform: rotate(45deg);
            opacity: 0.8;
            z-index: -1;
          }
          &::after {
            left: -100%;
            right: none;
            transform: rotate(-45deg);
            z-index: -2;
          }

          &.animate::before {
            animation: sweep 1s 1;
            animation-fill-mode: forwards;
          }
          &.animate::after {
            animation: sweep-invert 1s 1;
            animation-fill-mode: forwards;
          }
        }

        h3 {
          font-weight: 400;
          padding-block: 50px;
          margin-bottom: 0;
          opacity: 0;
          letter-spacing: -3px;
          @apply px-20 md:px-40 xl:px-50 text-[35px] lg:text-[48px] lg:tracking-[-4px] xl:text-[54px] xl:tracking-[-4.7px] 2xl:text-[64px] 2xl:xl:tracking-[-5.1px];
        }
        & .animate {
          h3 {
            animation: fadeIn 0.8s forwards;
            animation-delay: 0.2s;
          }
        }

        .card {
          background-color: var(--bg-color-secondary);
          padding-inline: 20px;
          padding-block: 40px;
          @apply md:px-40 md:py-50;
          @screen xl {
            padding: 50px 65px 70px 65px;
          }

          h4 {
            font-weight: 600;
            line-height: 1.2;
            @apply text-[24px] md:text-[32px] mb-40 xl:mb-70;
          }
          p {
            text-align: justify;
            @apply text-16 sm:text-20;
          }
        }
      }
    }

    .s-seo {
      h3 {
        font-weight: 400;
        padding-block: 50px;
        background-color: #ff6363;
        color: black;
        margin-bottom: 60px;
        opacity: 0;
        transition: opacity 1s ease;
        letter-spacing: -3px !important;
        &.animate {
          opacity: 1;
        }
        @apply w-full lg:w-fit lg:ml-60 text-[36px] lg:text-[64px] lg:tracking-[-5.1px] px-20 sm:px-60 lg:px-50 lg:mb-80;
      }
      p {
        @apply lg:text-justify px-20 sm:px-60;
      }
    }
  }

  .blob-bg-white {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -2;
  }

  .blob-pink {
    position: absolute;
    content: "";
    top: calc(50% - 300px);
    left: -100px;
    width: 400px;
    height: 600px;
    background: linear-gradient(#ed99ed 0%, #ac1caa 80%);
    opacity: 0.8;
    filter: blur(50px);
    z-index: -1;
    border-radius: 64% 36% 69% 31% / 4% 46% 54% 96%;
  }
  .blob-red {
    position: absolute;
    content: "";
    bottom: -60px;
    right: -100px;
    width: 80%;
    height: 50%;
    opacity: 0.8;
    filter: blur(50px);
    background: linear-gradient(#f92929 0%, #ee2424 50%, #ff0000 100%);
    border-radius: 100% 0% 63% 37% / 26% 69% 31% 74%;
    @media (max-width: 768px) {
      height: 60%;
      bottom: -30px;
    }
  }
  .blob-palepink {
    position: absolute;
    content: "";
    top: -200px;
    left: 0px;
    width: 600px;
    height: 600px;
    background: linear-gradient(#fcf7fc 0%, #ffb18f 90%);
    opacity: 0.8;
    filter: blur(50px);
    z-index: -1;
    border-radius: 82% 18% 9% 91% / 17% 27% 73% 83%;
  }
  .blob-green {
    position: absolute;
    content: "";
    top: -20px;
    left: -30px;
    width: 70%;
    height: 50%;
    background: linear-gradient(#29f9a9 0%, #24ee85 50%, #33ffa7 100%);
    opacity: 0.7;
    filter: blur(50px);
    z-index: -1;
    border-radius: 100% 0% 63% 37% / 26% 69% 31% 74%;
  }
  .blob-yellow {
    position: absolute;
    content: "";
    top: -30px;
    right: -50px;
    width: 65%;
    height: 130%;
    background: linear-gradient(#f6f3f3 0%, #f3ff0f 20%);
    opacity: 0.7;
    filter: blur(50px);
    z-index: -1;
    border-radius: 82% 18% 9% 91% / 60% 27% 73% 40%;
  }
  .blob-paleyellow {
    position: absolute;
    content: "";
    bottom: -30px;
    left: -50px;
    width: 65%;
    height: 80%;
    background: radial-gradient(circle, #cdfdf2 0%, #edfcba 20%);
    opacity: 0.6;
    filter: blur(50px);
    z-index: -1;
    border-radius: 13% 87% 18% 82% / 76% 75% 25% 24%;
  }
}
